# A.2. Formato de textos

Alan Badillo Salas (badillo.soft@hotmail.com)

In [1]:
"Hola mundo"

'Hola mundo'

In [2]:
"Hola {}".format("mundo")

'Hola mundo'

In [3]:
"Hola, me llamo {} y tengo {} años".format("Anika", 23)

'Hola, me llamo Anika y tengo 23 años'

In [4]:
"El número pi se aproxima por 22 / 7 equivalente a {}".format(22 / 7)

'El número pi se aproxima por 22 / 7 equivalente a 3.142857142857143'

In [5]:
"Mostraremos sólo 2 posiciones de 22 / 7: {:.2f}".format(22 / 7)

'Mostraremos sólo 2 posiciones de 22 / 7: 3.14'

In [11]:
print(
"""
Columna A | Columna B
{:9} | {:9}
""".format(123, 456)
)

Columna A | Columna B
      123 |       456

In [13]:
print(
"""
Columna A | Columna B
{:<9} | {:<9}
""".format(123, 456)
)

Columna A | Columna B
123       | 456

In [14]:
print(
"""
Columna A | Columna B
{:^9} | {:^9}
""".format(123, 456)
)

Columna A | Columna B
   123    |    456

In [16]:
print(
"""
Columna A | Columna B
{:-^9} | {:-^9}
""".format(123, 456)
)

Columna A | Columna B
---123--- | ---456---

In [40]:
from functools import reduce

productos = [
    {
        "nombre": "Coca Cola",
        "descripcion": "Refresco de cola (azúcar y químicos)",
        "imagen": "http://placehold.it/200"
    },
    {
        "nombre": "Galletas María",
        "descripcion": "Galletas de masa (harinas refinadas)",
        "imagen": "http://placehold.it/200"
    },
    {
        "nombre": "Sopa Maruchan",
        "descripcion": "Fideos (plástico)",
        "imagen": "http://placehold.it/200"
    },
]

columnas = productos[0].keys()

print("|".join(map(lambda columna: "{:^40}".format(columna[:40]), columnas)))
print("+".join(map(lambda columna: "{:^40}".format("-" * 38), columnas)))
for producto in productos:
    print("|".join(map(lambda columna: "{:^40}".format(columna[:40]), [producto[columna] for columna in columnas])))

                 nombre                 |              descripcion               |                 imagen
 -------------------------------------- + -------------------------------------- + --------------------------------------
               Coca Cola                |  Refresco de cola (azúcar y químicos)  |        http://placehold.it/200
             Galletas María             |  Galletas de masa (harinas refinadas)  |        http://placehold.it/200
             Sopa Maruchan              |           Fideos (plástico)            |        http://placehold.it/200