# I.1. Introducci√≥n a MySQL con Python

Alan Badillo Salas (badillo.soft@hotmail.com)

In [1]:
! pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\programdata\anaconda3\lib\site-packages (2.2.9)

In [2]:
import mysql.connector as mysql

mysql.__version__

'2.2.9'

In [3]:
db = mysql.connect(
    host="localhost",
    user="root",
    passwd="password",
    auth_plugin="mysql_native_password"
)

db

In [4]:
cursor = db.cursor()

cursor

In [5]:
cursor.execute("create database if not exists test")

In [6]:
cursor.execute("show databases")

for record in cursor:
    print(record)

('catamo',)
('cupcakes',)
('employees',)
('house_hack',)
('information_schema',)
('lavauto',)
('learn',)
('mi_empresa',)
('mysql',)
('performance_schema',)
('quat_dev',)
('sakila',)
('super_cupcakes',)
('sys',)
('test',)
('test_ubee_1',)
('ubee',)
('ubee_builder',)
('ubee_dev',)
('world',)

In [7]:
cursor.execute("use employees")

In [8]:
cursor.execute("show tables")

for record in cursor:
    print(record)

('a',)
('current_dept_emp',)
('departments',)
('dept_count',)
('dept_emp',)
('dept_emp_latest_date',)
('dept_manager',)
('employees',)
('salaries',)
('titles',)

In [9]:
cursor.execute("select * from employees limit 10")

for record in cursor:
    print(record)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21))
(10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
(10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10))
(10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15))
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))