# I.1. Introducción a MySQL con Python

Alan Badillo Salas (badillo.soft@hotmail.com)

In [1]:
! pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\programdata\anaconda3\lib\site-packages (2.2.9)

Cargamos el módulo `mysql.connector` (instalado previamente) con el alias (sobrenombre) `mysql`.

La importación por alias, nos imparta el módulo solicitado, al cuál podremos acceder mediante su alias.

Es decir, en lugar de utilizar `mysql.connector`, utilizaremos sólo `mysql`.

En la siguiente celda, cargamos el módulo para utilizar *MySQL* y obtenemos la versión utilizada.

In [3]:
import mysql.connector as mysql

mysql.__version__

'2.2.9'

El módulo **mysql** nos va permitir conectarnos a *MySQL* mediante `mysql.connect(...)`, especificando los parámetros de conexión:

* host (generalmente localhost, el dominio del servidor o la ip del servidor)
* port (generalmente 3306, es el puerto instanciado)
* user (generalmente root, el nombre del usuario)
* passwd (la contraseña del usuario)
* dbname (nombre de la base de datos, opcional si se usa *use <dbname>*)
* auth_plugin="mysql_native_password" (es necesario en las versiones más recientes, si marca error)

La siguiente celda nos conecta a mysql y nos crea una conexión.

In [7]:
db = mysql.connect(
    user="root",
    passwd="password",
    auth_plugin="mysql_native_password"
)

db

Una vez conectado a *MySQL* podemos crear un cursor de ejecución. El cursor de ejecución nos va a permitir mandar instrucciones a la base de datos, básicamente vamos a trabajar las bases de datos y toda la comunicación con *MySQL* a través del cursor.

En la celda, creamos un cursor a través de nuestra conexión `db` usando `db.cursor()`.

In [8]:
cursor = db.cursor()

cursor

A través de nuestro cursor podemos enviar instrucciones a la base de datos, es decir, sentencias **SQL**.

En la siguiente celda, le pedimos al cursor que envíe la sentencia:

`CREATE DATABASE IF NOT EXISTS test`

La cuál le manda a pedir a *MySQL* que cree una base de datos, si no existe, llamada `test`.

La sintaxis es **cursor.execute(sql)**

In [11]:
cursor.execute("create database if not exists test")

Podemos hacer entonces consultas a *MySQL* a través de nuestro cursor, como por ejemplo, pedir que nos muestre todas las bases de datos en nuestro sistema.

En la siguiente celda, consultamos las bases de datos (`show databases`) y para cada registro (fila) en la respuesta del cursor, mostramos el valor del registro (un tupla).

In [12]:
cursor.execute("show databases")

for record in cursor:
    print(record)

('almacen',)
('catamo',)
('cupcakes',)
('employees',)
('house_hack',)
('information_schema',)
('lavauto',)
('learn',)
('mi_empresa',)
('mysql',)
('performance_schema',)
('quat_dev',)
('sakila',)
('super_cupcakes',)
('sys',)
('test',)
('test_ubee_1',)
('ubee',)
('ubee_builder',)
('ubee_dev',)
('world',)

La base de datos **employees**, contiene la información de los empleados de una empresa (unos 300 mil registros). Y puede ser descargada https://dev.mysql.com/doc/employee/en/employees-installation.html

En la siguiente celda, indicamos que ahora estaremos trabajando con la base de datos llamada `employees`.

In [14]:
cursor.execute("use employees")

Mostramos las tablas de la base de datos usada (seleccionada) más reciente, en este caso `employees`.

In [15]:
cursor.execute("show tables")

for record in cursor:
    print(record)

('a',)
('current_dept_emp',)
('departments',)
('dept_count',)
('dept_emp',)
('dept_emp_latest_date',)
('dept_manager',)
('employees',)
('salaries',)
('titles',)

Finalmente podemos lanzar una consulta (búsqueda), para obtener los primeros 10 empleados (cuidado son 300 mil, si no se pone el límite podría bloquear tu navegador y dejar inservible la notebook).

La sentencia **select** selecciona los registros **from** desde una tabla, en los campos `*` todos, con un límite de 10 registros máximos.

In [17]:
cursor.execute("select * from employees limit 10")

for record in cursor:
    print(record)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21))
(10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
(10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10))
(10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15))
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))

In [18]:
cursor.execute("describe employees")

for record in cursor:
    print(record)

('emp_no', b'int(11)', 'NO', bytearray(b'PRI'), None, bytearray(b''))
('birth_date', b'date', 'NO', bytearray(b''), None, bytearray(b''))
('first_name', b'varchar(14)', 'NO', bytearray(b''), None, bytearray(b''))
('last_name', b'varchar(16)', 'NO', bytearray(b''), None, bytearray(b''))
('gender', b"enum('M','F')", 'NO', bytearray(b''), None, bytearray(b''))
('hire_date', b'date', 'NO', bytearray(b''), None, bytearray(b''))