# Proyecto I.1 - Almacén de Productos

Alan Badillo Salas (badillo.soft@hotmail.com)

> Documentación Python: https://www.w3schools.com/python

> Documentación SQL: https://www.w3schools.com/sql/

* Importamos la librería mysql.

* Creamos la conexión a la base de datos.

* Creamos nuestro cursor para ejecutar las consultas a la base de datos.

* Crea la base de datos llamada `almacen` en caso de que no exista.

* Selecciona la base de datos `almacen` para trabajar con ella.

* Imprime que ya estamos conectados a la base de datos almacén.

In [1]:
import mysql.connector as mysql

db = mysql.connect(
    host="localhost",
    user="root",
    passwd="password",
    auth_plugin="mysql_native_password"
)

cursor = db.cursor()

cursor.execute("create database if not exists almacen")

cursor.execute("use almacen")

print("Conectado al almacén")

Conectado al almacén

In [6]:
cursor.execute("""
    create table if not exists productos (
        id_producto int auto_increment primary key,
        nombre varchar(60),
        descripcion text,
        imagen varchar(120)
    )
""")

print("Tabla de productos verificada")

Tabla de productos verificada

In [7]:
while True:
    continuar = input("Desea agregar un producto? [y/n]")
    
    if continuar != "y":
        break
    
    nombre = input("Nombre:")
    descripcion = input("Descripción:")
    imagen = input("Imagen (URL):")
    
    if len(nombre) == 0:
        print("El nombre no es válido")
        continue
    
    if len(descripcion) == 0:
        descripcion = "Sin descripción"
    
    if len(imagen) == 0:
        imagen = "http://placehold.it/200"
    
    sql = "insert into productos (nombre, descripcion, imagen) values (%s, %s, %s)"
    params = (nombre, descripcion, imagen)
    cursor.execute(sql, params)
    print("Producto agregado")

Desea agregar un producto? [y/n] y
Nombre: Chocorroles
Descripción: Chocolate
Imagen (URL):

Producto agregado

Desea agregar un producto? [y/n] n

In [8]:
cursor.execute("select * from productos order by id_producto desc limit 10")

for record in cursor:
    print(record)

(5, 'Chocorroles', 'Chocolate', 'http://placehold.it/200')
(4, 'Pepsi', 'Refresco de cola', 'http://placehold.it/200')